<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="646f8f">  <td>21/10/13 18:11:38</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RunnerClass.goToYoutubeChrome()[pri:1, instance:ExtentReportsDemo.RunnerClass@7ee955a8]">goToYoutubeChrome</td> 
  <td>TestNG-test=Test-2@1087305846</td>   <td></td> </tr>
<tr bgcolor="646f8f">  <td>21/10/13 18:11:38</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RunnerClass.testing()[pri:0, instance:ExtentReportsDemo.RunnerClass@7ee955a8]">testing</td> 
  <td>TestNG-test=Test-1@840142958</td>   <td></td> </tr>
<tr bgcolor="646f8f">  <td>21/10/13 18:11:38</td>   <td>-41</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RunnerClass.setup()[pri:0, instance:ExtentReportsDemo.RunnerClass@7ee955a8]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test-1@840142958</td>   <td></td> </tr>
<tr bgcolor="646f8f">  <td>21/10/13 18:11:54</td>   <td>16083</td> <td title="&lt;&lt;RunnerClass.tearDown()[pri:0, instance:ExtentReportsDemo.RunnerClass@7ee955a8]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1427040229</td>   <td></td> </tr>
<tr bgcolor="646f8f">  <td>21/10/13 18:11:38</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RunnerClass.goToYoutubeFirefox()[pri:2, instance:ExtentReportsDemo.RunnerClass@7ee955a8]">goToYoutubeFirefox</td> 
  <td>TestNG-test=Test-3@1229601478</td>   <td></td> </tr>
</table>
